/* css rest */
* {
    padding: 0;
    margin: 0;
    outline: none;
}

/* Navigation Menu */
a {
    text-decoration: none;
    color: white;
}

.list {
    display: flex;
    padding: 1rem;
    list-style: none;
    background-color: black;
    opacity: 0.5;
}

.item {
    padding: 1rem;
}

/* Home Section */
#home::before {
    content: "";
    position: absolute;
    background: url(./img.jpg) no-repeat center center/cover;
    height: 650px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home {
    text-align: center;
    padding: 10rem;
    font-size: 30px;
    background-size: cover;
    background-position: center center;
    color: white;
    font-weight: bold;
}

.btn {
    padding: 6px;
    margin: 12px;
    cursor: pointer;
    border-radius: 10px;
}

/* Services Section */
#services {
    text-align: center;
    padding: 2rem;
}

.box {
    border: 2px solid black;
    display: inline-block;
    height: 400px;
    width: 400px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 40px;
    background-color: rgba(163, 209, 250, 0.641);
}

.container {
    padding: 15px;
    font-size: 20px;
}

.box img {
    width: 10rem;
    height: 10rem;
    margin: auto;
    padding: 15px;
}

.box h3 {
    padding: 1px;
}

#services h1 {
    font-size: 30px;
    padding-bottom: 0.5rem;
    padding-top: 3rem;
}

/* Client Section */
#client {
    text-align: center;
    background: url(./client.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

#client img {
    height: 10rem;
    padding-left: 50px;
    padding-right: 50px;
}

#client h1 {
    font-size: 30px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

/* Contact Section */
#contact {
    text-align: center;
    background: url(./contact.jpg) transparent no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#contact h1 {
    font-size: 30px;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}

#contact label {
    display: flex;
    width: 50%;
    margin: auto;
    font-size: 20px;
    font-weight: bolder;
}

#contact input,
textarea {
    display: block;
    margin: auto;
}

#contact div {
    margin: auto;
}

#contact input {
    width: 50%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#contact textarea {
    width: 50%;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 6px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    background-color: black;
}
